<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
  </head>

<body>
<h1> Track interest rates (DAI)</h1>


{% for item in rates %}
<b>{{ item[0] }} </b> {{ item[1] }}% <br> 
{% endfor %} 


<a href="http://www.trackato.com/charts">Interest rates chart</a>

<br>



<i>Things above are experimental - standard disclaimer apply <i>




<footer>
Data provided by LoanScan.io DeFi API<a href="https://loanscan.io">Loanscan DeFI API </a>
</footer>
</body>
</html>
