<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142594305-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142594305-1');
</script>

  <head>
<style>
body {
      font-size: 30px;
  font-family: 'VT323', monospace;
      color: white;
    background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
}
</style>
  
  </head>

<body>
<h1> Track interest rates (DAI)</h1>

{% for item in rates %}
<b>{{ item[0] }} </b> {{ item[1] }}% <br> 
{% endfor %} 


<a href="http://www.trackato.com/charts">Interest rates chart</a>

<br>

<h1>Safe Low Gas Price</h1> 

{{ safe_low_price}} Gwei </br>

<i>Things above are experimental - standard disclaimer apply <i>




<footer>
Data provided by LoanScan.io DeFi API<a href="https://loanscan.io"></br>Loanscan DeFI API </a>
</footer>
</body>
</html>
