<!DOCTYPE html>
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142594305-1"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-142594305-1');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <style>
        div {
            font-family: 'Inter', sans-serif !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Trackato</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Trackato <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Historical rates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.ft.com/content/16db565a-25a1-11ea-9305-4234e74b0ef3">About</a>
                </li>
            </ul>
    </nav>
    </div>

    <div class="container">



        <blockquote class="blockquote">
            <p class="mb-0">good tracker for current USD yield opportunities</p>
            <footer class="blockquote-footer">Degen Spartan <cite title="Source Title">from CT</cite></footer>
        </blockquote>



        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Token</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Invest</th>
                </tr>
            </thead>
            <tbody>

                {% for item in trackato %}
                <tr class="table">
                    <th scope="row">{{ item[0]}}</th>
                    <td> {{ item[1] }} </td>
                    <td> {{ (item[2]*100)|round(2) }}% </td>
                    <td>
                        {% if item[0]=="RealT" %}

                        <a href="https://realt.co/?ref=spike" class="btn btn-info" role="button">Invest</a> {% else %} {% endif %} {% if item[0]=="Bitfinex" %}

                        <a href="https://www.coinlend.org/?referral=0B635O" class="btn btn-info" role="button">Invest</a> {% else %} {% endif %}



                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</body>